<div class="jumbotron">
  <div class="container">
    <div class="col-md-4">
      <img src="/assets/cat_paper.png"> 
    </div>
    <div class="col-md-8">
      <div class="page-header">
        <h2>Hi there, Coding Cat here! <small>Powered by Ember on the Rails.</small></h2>
      </div>
      <p>Cat proved his authority in the house. He returned victorious from his adventures beyond the garden fence. He prevailed after the chaotic arrival of a new kitten. But this year, the UK’s favourite cat faces his biggest series of challenges yet, as he takes on all comers in Cat vs The World!</p>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p class="lead">2013</p>
    <ul class="list-unstyled">
      <li>
        <p class="lead"><span class="glyphicon glyphicon-cog"></span> ThreadSuite.com</p>
      </li>
      <li>
        <p class="lead"><span class="glyphicon glyphicon-thumbs-up"></span> EmberJS</p>
      </li>
      <li>
        <p class="lead"><span class="glyphicon glyphicon-check"></span> Provectus-IT<p>
        </li>
      <li>
        <p class="lead"><span class="glyphicon glyphicon-bookmark"></span> intersog.com</p>
      </li>        
    </ul>
  </div>
  <div class="col-md-4">
    <p class="lead">Books</p>
    <ul class="list-unstyled">
      <li>
        <p class="lead"><span class="glyphicon glyphicon-cloud-upload"></span> Advanced JS</p>
      </li>
      <li>
        <p class="lead"><span class="glyphicon glyphicon-fire"></span> The Ruby Programming Language</p>
      </li>
      <li>
        <p class="lead"><span class="glyphicon glyphicon-calendar"></span> Agile Web Development with Rails<p>
        </li>
      <li>
        <p class="lead"><span class="glyphicon glyphicon-barcode"></span> Decoding HTML5</p>
      </li>        
    </ul>
  </div>
</div>